*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Courier New', Courier, monospace ;
}
.grand_parent{
    width:100vw;
    height: 100vh;
    background: #e67e22;
    color: #fff;   
}
h1{
    font-size: 4rem;
    padding:50px;
    text-align: center;
    color:000;
}

.parent{
    width: 80vw;
    height: auto;
    margin: auto;
    display: flex;
    text-align: right;
    justify-content: space-around;
    flex-wrap: wrap;
    /* transition: all 0.2; */
}
.child{
    /* width:200px; */
    /* height: 200px; */
    background: #9a9;
    box-shadow: 0 0 20px #bac3c3;
    flex: 1 1;
    /* padding: 10px; */
    margin: 15px;
}

.child:first-child{
background:#3f3;
}
.child:last-child{
background:#000;
}
span{
    background:#ddb689;
    color: #000;
}
p{
    text-align:justify ;
}


@media(min-width:992px){
.grand_parent{
    height: 100vh;
}
.parent{
    width: 80%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: space-around;
}
.child{
    flex: 1 1;
}
}
@media(min-width:768px) and (max-width:991px){
.grand_parent{
    height: 100vh;
}
.parent{
    width: 50%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: space-around;
}
.child{
    flex: 1 1;
}
}



@media(max-width:767px){
.grand_parent{
    height: 100vh;
}
.parent{
    width: 33%;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: space-around;
    height: auto;
}
.child{
    
    flex: 1 1;
}
}